.navbar-brand{
    font-size: 55px;
    margin: 20px;
    font-weight: 700;
    margin-top:0 ;
    padding-top: 30px;
    padding-left: 50px;

}
nav{
    background-color: aliceblue;
}

.form-label{
    font-size: 25px;
    font-weight: 400;
}



h5{
    padding-left: 37px;
    font-weight: 300;
    font-size: 25px;
    line-height: 2.5rem;
}

.fa-business-time{
    color: #FF9900;
}

.column{
    background-color: aliceblue;
}



#predictButton{
    background-color: #FF9900;
    color: #000;
    font-weight: 700;
    width: 100%;
}

.mlModelHeading{
    position: relative;
    left: 120px;
    font-weight: 300;
    bottom: 10px;

}

